HOST=0.0.0.0
PORT=8080
SERVICE_NAME=ms-go-validation-orchestrator

HTML_VALIDATOR_URL=http://ms-ts-html-validator:3000
CSS_VALIDATOR_URL=http://ms-ts-css-validator:3000
REACT_VALIDATOR_URL=http://ms-ts-react-validator:3000
NODE_VALIDATOR_URL=http://ms-node-validator:8080
PHP_VALIDATOR_URL=http://ms-go-php-validator:8080
PHP_FRAMEWORK_VALIDATOR_URL=
NEXTJS_VALIDATOR_URL=http://ms-ts-nextjs-validator:3017
BROWSER_RUNTIME_VALIDATOR_URL=http://ms-ts-browser-runtime-validator:3016
